@page "/verify-2fa"
@using System.ComponentModel.DataAnnotations
@using System.Net.Http.Headers
@using System.Text.Json
@using Microsoft.AspNetCore.WebUtilities
@using static Shared.Models.ServiceResponses


<h3>Two-Factor Authentication</h3>

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="alert alert-danger">@ErrorMessage</div>
}

<EditForm Model="twoFactorModel" OnValidSubmit="SubmitCode">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label for="code">Enter 2FA Code</label>
        <InputText id="code" class="form-control" @bind-Value="twoFactorModel.Code" />
        <small class="form-text text-muted">Check your email for the code.</small>
    </div>

    <button type="submit" class="btn btn-primary" disabled="@IsSubmitting">
        @(IsSubmitting ? "Verifying..." : "Verify")
    </button>
</EditForm>


<StackedHandyToast @ref="stackedHandyToast" Title="Success" Message="Your operation completed successfully."
    ToastType="HandyToastType.SUCCESS" Duration="5" Position="HandyToastPosition.CENTER_ALIGN" />

@code {
    [Parameter] public bool RememberMe { get; set; }
    private string ErrorMessage = string.Empty;
    private bool IsSubmitting = false;
    private HttpClient httpClient { get; set; } = null!;

    private TwoFactorModel twoFactorModel = new();
    private StackedHandyToast stackedHandyToast = default!;



    private class TwoFactorModel
    {
        [Required]
        [StringLength(6, MinimumLength = 6, ErrorMessage = "Code must be 6 digits")]
        public string Code { get; set; } = null!;

        public string Email { get; set; } = null!;
    }

    protected override async Task OnInitializedAsync()
    {
        httpClient = httpClientFactory.CreateClient(Constants.HTTP_CLIENT);
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        var query = QueryHelpers.ParseQuery(uri.Query);

        if (query.TryGetValue("email", out var email))
        {
            twoFactorModel.Email = email!;
        }

        if (query.TryGetValue("rememberMe", out var remember))
        {
            bool.TryParse(remember, out var rememberBool);
            RememberMe = rememberBool;
        }

        var sendCodeResponse = await httpClient.PostAsync("api/Account/send-2fa-code/" + twoFactorModel.Email, null!);

        var responseContent = await sendCodeResponse.Content.ReadFromJsonAsync<GeneralResponse>();

        if (responseContent.Flag)
        {
            _ = stackedHandyToast.ShowToastAsync("Success", "Check your email for the code.", HandyToastType.SUCCESS);
        }
        else
        {
            _ = stackedHandyToast.ShowToastAsync("Error", responseContent.Message, HandyToastType.ERROR);
        }
    }

    private async Task SubmitCode()
    {
        IsSubmitting = true;
        ErrorMessage = null!;

        try
        {
            var response = await httpClient.GetFromJsonAsync<LoginResponse>("api/Account/login-with-2fa?email=" +
            Uri.EscapeDataString(twoFactorModel.Email) + "&code=" + Uri.EscapeDataString(twoFactorModel.Code));

            //Console.WriteLine(response);

            if (response.Flag)
            {
                if (RememberMe)
                {
                    await localStorageService.SetItemAsync(JwtConfig.JWT_TOKEN_NAME, response.Token);
                }
                else
                {
                    await sessionStorageService.SetItemAsync(JwtConfig.JWT_TOKEN_NAME, response.Token);
                }

                ((ApiAuthenticationStateProvider)AuthenticationStateProvider).MarkUserAsAuthenticated(response.Token);
                httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("bearer", response.Token);

                // Redirect to passwords page
                NavigationManager.NavigateTo("passwords", true);
            }
            else
            {
                ErrorMessage = !string.IsNullOrEmpty(response.Message) ? response.Message : "Invalid 2FA code.";
            }
        }
        //catch (Exception ex)
        //{
        //    Console.WriteLine(ex.InnerException?.Message);
        //    Console.WriteLine(ex.Message);
        //    ErrorMessage = $"An error occurred: {ex.InnerException?.Message ?? ex.Message}";
        //}
        finally
        {
            IsSubmitting = false;
        }
    }
}